.notificationContainer {
  position: fixed;
  top: 70px; /* Adjust based on your navbar height */
  right: 20px;
  z-index: 1000;
  max-width: 300px;
  width: 100%;
}

.notification {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
}
  
  .notificationContent {
    flex-grow: 1;
  }
  
  .notificationContent h4 {
    margin: 0 0 0.5rem;
    color: var(--text-color);
  }
  
  .notificationContent p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
  }
  
  .closeButton {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0;
    margin-left: 0.5rem;
  }